@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-image: url("/seri.jpg");
  /* background-repeat: repeat-y; */
  /* background-size: contain; */
  background-attachment: fixed;
  object-fit: cover;
  font-family: Arial, Helvetica, sans-serif;
}

.calendar-container {
  font-family: 'Arial', sans-serif;
  text-align: center;
  max-width: 350px;
  margin: auto;
  /* background: #f3f3f3; */
  padding: 1rem;
  border-radius: 16px;
  /* box-shadow: 0 0 10px rgba(0,0,0,0.1); */
}

.calendar-title {
  font-size: 34px;
  margin-bottom: 1rem;
  font-family: 'Segoe UI', sans-serif;
  letter-spacing: 2px;
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  column-gap: 0.5rem;
}

.calendar-day-header {
  font-weight: bold;
  color: #555;
  font-size: 15px;
}

.calendar-day {
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  font-size: 19px;
  color: #333;
}

.calendar-day.highlighted {
  background-color: #fcd34d;
  color: #000;
  border: 2px solid #fbbf24;
}

.photoRight{
    transform: translateX(0);
    opacity: 0;
    animation: rightAnimation 1.5s ease-in-out forwards;


}
.photoLeft{
    transform: translateX(0);
    opacity: 0;
    animation: leftAnimation 1.5s ease-in-out 0.5s forwards;


}

.photoScale{
  opacity: 0;
  animation: scaleAnimation 1.5s ease-in-out forwards;

}

@keyframes scaleAnimation {
   0%{
        transform:scale(0.2);
        opacity: 0;
    }


     100%{
        transform:scale(1);
        opacity: 1;
    }
}


@keyframes rightAnimation {
    0%{
        transform: translateX(0);
        opacity: 0;
    }


     100%{
        transform: translateX(42px);
        opacity: 1;
    }

}

@keyframes leftAnimation {
    0%{
        transform: translateX(0);
        opacity: 0;
    }


     100%{
        transform: translateX(-35px);
        opacity: 1;
    }

}


.radiobox-body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 66px; /* 200 / 3 */
  flex-direction: column;
}

.radiobox-body > div {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; 
  width: 100%;
}

#label, #label1, #label3, #label5 {
  position: absolute;
  top: 8px; /* 25 / 3 */
  left: 33px; /* 100 / 3 */
  height: 13px; /* 40 / 3 */
  width: 13px; /* 40 / 3 */
  cursor: pointer;
  border: 2.66px solid #434343; /* 8 / 3 */
  border-radius: 50%;
  transition: all 0.4s;
}

#label2, #label4 {
  display: flex;
  width: 6.66px; /* 20 / 3 */
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  transition: all 0.45s;
  width: 200px;
}

#radiobox, #radiobox1,  #radiobox2, #radiobox3 {
  visibility: hidden;
}

#radiobox:checked ~ #label,
#radiobox1:checked ~ #label1,
#radiobox2:checked ~ #label3,
#radiobox3:checked ~ #label5
 {
  transform: rotate(45deg);
  top: 5px; /* 15 / 3 */
  left: 40px; /* 120 / 3 */
  width: 3.33px; /* 10 / 3 */
  border-color: #24c78e;
  border-top-color: transparent;
  border-left-color: transparent;
  border-radius: 0;
}

#radiobox:checked ~ #label2,
#radiobox1:checked ~ #label2,
#radiobox2:checked ~ #label4,
#radiobox3:checked ~ #label4 {
  color: #24c78e;
}



